<!doctype html>
{% extends 'index.html' %}
{% block title %} Learn - {{contentName}} {% endblock %}

{% block content %}
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/learnContent.css')}}">
	<script src="{{url_for('static', filename='js/audio.js')}}"></script>

<div class="total-container">
	<h1>{{contentName}}</h1><br>
	<div class="row">
	<div class="upper-left">
		<img src="{{url_for('static', filename='content/' + contentId|string + '/image/' + record[1])}}" alt="IMAGE" width="600" height="300"><br>
	</div>
	<div class="upper-right">
		<div style="display: flex; font-size: 20px;"><p><strong>Say:</strong></p><p style="padding-left: 10px">{{record[3]}}</p></div>
		
			<audio id="audio" class="player">
				<source src="{{url_for('static', filename='content/' + contentId|string + '/audio/' + record[2])}}" type="audio/mpeg">
			</audio>
		<!-- <p>Click the button below and speak into your microphone:</p> -->
		<button id="recordButton" class="button buttonPlay" style="background-color: #14A44D; color: #FBFBFB; width: 49%"><span><i class="fa fa-microphone"></i>Start Recording</span></button>
		<button id="stopButton" class="button buttonStop" style="background-color: #DC4C64; color: #FBFBFB; width: 48.9%;"><span>Stop Recording <i class="fa fa-microphone-slash"></i></span></button>
	</div>
	</div>
	<div class="row">
	<div class="bottom-left">
    	<canvas id="visualization" width="600" height="200"></canvas>
	</div>
		
	<div class="bottom-right"><div id="bottom-right" style="display: none;">
		<table style="margin-left: auto; margin-right: auto; font-size: 1rem; background-color: #E8E8E8; border-radius: 15px; padding: 25px">
			<tr>
				<td style="text-align: left;color: #183e97; width: 25%">You Said</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;"><span id="output"></span></td>
			  </tr><tr>
				<td style="text-align: left;color: #183e97; width: 25%">Analysis</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;"><span id="resultText"></span></td>
			  </tr>
			  <tr>
				<td style="text-align: left; color:#183e97; width: 25%">Accuracy</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;"><span id="accuracy"></span>%</td>
			  </tr><tr>
				<td style="text-align: left; color:#183e97; width: 25%">Total Score</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;"><span id="totalScore"></span></td>
			  </tr>
		</table>
		
		<!--<p><strong>You Said: </strong><span id="output"></span></p>
		<div id="resultContainer">
			<p><strong>Analysis: </strong><span id="resultText"></span></p>
			<p><strong>Accuracy: </strong><span id="accuracy"></span>%</p>
			<p><strong>Total Score: </strong><span id="totalScore"></span></p>
		</div>--></div>
	</div>
	</div>
	<div style="float: left;">
	{% if contentPos != 0%}
	<a href="/learn/{{contentName}}/{{contentPos - 1}}?id={{contentId}}"><button class="buttonHover2" style="background-color: #ffffc1;"><span>Previous</span></button></a>
	{% endif %}
	</div>
	{% if lastContent == True %}
		<div style="float: right;">
		<a href="/learn/{{contentName}}/{{contentPos + 1}}?id={{contentId}}"><button class="buttonHover1" style="background-color: #c1fdc1;"><span>End Learning </span></button></a>
		</div>
	{% else %}
		<div style="float: right;">
		<a href="/learn/{{contentName}}/{{contentPos + 1}}?id={{contentId}}"><button class="buttonHover1" style="background-color: #c1fdc1;"><span>Next </span></button></a>
		</div>
	{% endif %}

</div>
<br>
<script>
const recordButton = document.getElementById('recordButton');
const stopButton = document.getElementById('stopButton');
const output = document.getElementById('output');
var og = "{{record[3]}}";
var contentId = "{{contentId}}";
var contentPos = "{{contentPos}}";
var contentName = "{{contentName}}";
let isRecording = false;
let recognition = null;
let animationId = null;
const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
	
function getRainbowColor(index, totalBars) {
  const hue = (360 / totalBars) * index;
  return `hsl(${hue}, 100%, 50%)`;
}

recordButton.addEventListener('click', () => {
	if (!isRecording) {
		recognition = new webkitSpeechRecognition() || new SpeechRecognition();
		recognition.continuous = true;

		recognition.onstart = () => {
			recordButton.textContent = 'Recording...';
			isRecording = true;
		};

		recognition.onend = () => {
			recordButton.textContent = 'Start Recording';
			isRecording = false;
		};

		recognition.onresult = (event) => {
			const result = event.results[event.results.length - 1];
			const text = result[0].transcript;
			output.textContent = text;
			// Send the text to the server for comparison
			console.log(og);
			$.ajax({
				type: 'POST',
				url: '/compare',
				data: { text: text, og: og, contentId : contentId, contentPos : contentPos, contentName: contentName},
				headers: {
	'X-CSRFToken': csrfToken, // Include the CSRF token in the headers
},
success: function (response) {
	// Handle the successful response here
	if (response.hasOwnProperty('result') && response.hasOwnProperty('accuracy')) {
		const resultArray = response.result;
	const accuracy = response.accuracy;
	const totalScore = response.score;

	// Update the accuracy element with the received accuracy
	document.getElementById('accuracy').textContent = accuracy;
	document.getElementById('totalScore').textContent = totalScore;
	console.log(response.score);	
	// Create a string for displaying the result
	var resultText = '';

	// Iterate through the resultArray and concatenate words based on word status
	resultArray.forEach(function (wordStatus) {
		var word = wordStatus.word;
		var status = wordStatus.status;

		// Apply appropriate CSS class based on word status
		var cssClass = '';
		if (status === 'correct') {
			cssClass = 'correct';
		} else if (status === 'wrong') {
			cssClass = 'wrong';
		} else if (status === 'missing') {
			cssClass = 'missing';
		}

		// Wrap the word in a span with the CSS class
		resultText += '<span class="' + cssClass + '">' + word + '</span> ';
		document.getElementById('bottom-right').style.display = 'block';
	});

	// Update the result element with the formatted result
	document.getElementById('resultText').innerHTML = resultText;

					}
				},
				error: function (xhr, status, error) {
					console.error('Error:', error);
				}
			});
		};

		recognition.start();

		// Start audio visualization
		const visualizationCanvas = document.getElementById('visualization');
		const visualizationContext = visualizationCanvas.getContext('2d');
		const audioContext = new (window.AudioContext || window.webkitAudioContext)();
		const analyser = audioContext.createAnalyser();

		analyser.fftSize = 8192;
		const bufferLength = analyser.frequencyBinCount;
		const dataArray = new Uint8Array(bufferLength);

		navigator.mediaDevices
			.getUserMedia({ audio: true })
			.then((stream) => {
				const audioSource = audioContext.createMediaStreamSource(stream);
				audioSource.connect(analyser);

				function drawVisualization() {
					analyser.getByteFrequencyData(dataArray);

					visualizationContext.clearRect(
						0,
						0,
						visualizationCanvas.width,
						visualizationCanvas.height
					);

					visualizationContext.fillStyle = 'rgb(0, 0, 0)';
					const barWidth = (visualizationCanvas.width / bufferLength) * 2.5;
					let x = 0;

					for (let i = 0; i < bufferLength; i++) {
						const barHeight = dataArray[i];
						const barColor = getRainbowColor(i, dataArray.length);

    					visualizationContext.fillStyle = barColor;
						visualizationContext.fillRect(
							/*x*/ i * barWidth,
							
							visualizationCanvas.height - barHeight,
							barWidth,
							barHeight
						);

						x += barWidth + 1;
					}

					if (isRecording) {
						animationId = requestAnimationFrame(drawVisualization);
					}
				}

				drawVisualization();
			})
			.catch((error) => {
				console.error('Error accessing microphone:', error);
			});
	} else {
		// Stop both recognition and visualization
		recognition.stop();
		cancelAnimationFrame(animationId);

		recordButton.textContent = 'Start Recording';
		output.textContent = '';
		isRecording = false;
	}
});

stopButton.addEventListener('click', () => {
	// Stop both recognition and visualization
	recognition.stop();
	cancelAnimationFrame(animationId);

	recordButton.textContent = 'Start Recording';
	output.textContent = '';
	isRecording = false;
});
</script>


<script>
		function initGenWidgets() {
  /*
	AUTHOR: Osvaldas Valutis, www.osvaldas.info
*/
  (function ($, window, document, undefined) {
    var isTouch = "ontouchstart" in window,
      eStart = isTouch ? "touchstart" : "mousedown",
      eMove = isTouch ? "touchmove" : "mousemove",
      eEnd = isTouch ? "touchend" : "mouseup",
      eCancel = isTouch ? "touchcancel" : "mouseup",
      secondsToTime = function (secs) {
        var hours = Math.floor(secs / 3600),
          minutes = Math.floor((secs % 3600) / 60),
          seconds = Math.ceil((secs % 3600) % 60);
        return (
          (hours == 0
            ? ""
            : hours > 0 && hours.toString().length < 2
            ? "0" + hours + ":"
            : hours + ":") +
          (minutes.toString().length < 2 ? "0" + minutes : minutes) +
          ":" +
          (seconds.toString().length < 2 ? "0" + seconds : seconds)
        );
      },
      canPlayType = function (file) {
        var audioElement = document.createElement("audio");
        return !!(
          audioElement.canPlayType &&
          audioElement
            .canPlayType("audio/" + file.split(".").pop().toLowerCase() + ";")
            .replace(/no/, "")
        );
      };

    $.fn.audioPlayer = function (params) {
      var params = $.extend(
          {
            classPrefix: "audioplayer",
            strPlay: "",
            strPause: "",
            strVolume: ""
          },
          params
        ),
        cssClass = {},
        cssClassSub = {
          playPause: "playpause",
          playing: "playing",
          time: "time",
          timeCurrent: "time-current",
          timeDuration: "time-duration",
          bar: "bar",
          barLoaded: "bar-loaded",
          barPlayed: "bar-played",
          volume: "volume",
          volumeButton: "volume-button",
          volumeAdjust: "volume-adjust",
          noVolume: "novolume",
          mute: "mute",
          mini: "mini"
        };

      for (var subName in cssClassSub)
        cssClass[subName] = params.classPrefix + "-" + cssClassSub[subName];

      this.each(function () {
        if ($(this).prop("tagName").toLowerCase() != "audio") return false;

        var $this = $(this),
          audioFile = $this.attr("src"),
          isAutoPlay = $this.get(0).getAttribute("autoplay"),
          isAutoPlay =
            isAutoPlay === "" || isAutoPlay === "autoplay" ? true : false,
          isLoop = $this.get(0).getAttribute("loop"),
          isLoop = isLoop === "" || isLoop === "loop" ? true : false,
          isSupport = false;

        if (typeof audioFile === "undefined") {
          $this.find("source").each(function () {
            audioFile = $(this).attr("src");
            if (typeof audioFile !== "undefined" && canPlayType(audioFile)) {
              isSupport = true;
              return false;
            }
          });
        } else if (canPlayType(audioFile)) isSupport = true;

        var thePlayer = $(
            '<div class="' +
              params.classPrefix +
              '">' +
              (isSupport
                ? $("<div>").append($this.eq(0).clone()).html()
                : '<embed src="' +
                  audioFile +
                  '" width="0" height="0" volume="100" autostart="' +
                  isAutoPlay.toString() +
                  '" loop="' +
                  isLoop.toString() +
                  '" />') +
              '<div class="' +
              cssClass.playPause +
              '" title="' +
              params.strPlay +
              '"><a href="#">' +
              params.strPlay +
              "</a></div></div>"
          ),
          theAudio = isSupport
            ? thePlayer.find("audio")
            : thePlayer.find("embed"),
          theAudio = theAudio.get(0);

        if (isSupport) {
          thePlayer.find("audio").css({
            width: 0,
            height: 0,
            visibility: "hidden"
          });
          thePlayer.append(
            '<div class="' +
              cssClass.time +
              " " +
              cssClass.timeCurrent +
              '"></div><div class="' +
              cssClass.bar +
              '"><div class="' +
              cssClass.barLoaded +
              '"></div><div class="' +
              cssClass.barPlayed +
              '"></div></div><div class="' +
              cssClass.time +
              " " +
              cssClass.timeDuration +
              '"></div><div class="' +
              cssClass.volume +
              '"><div class="' +
              cssClass.volumeButton +
              '" title="' +
              params.strVolume +
              '"><a href="#">' +
              params.strVolume +
              '</a></div><div class="' +
              cssClass.volumeAdjust +
              '"><div><div></div></div></div></div>'
          );

          var theBar = thePlayer.find("." + cssClass.bar),
            barPlayed = thePlayer.find("." + cssClass.barPlayed),
            barLoaded = thePlayer.find("." + cssClass.barLoaded),
            timeCurrent = thePlayer.find("." + cssClass.timeCurrent),
            timeDuration = thePlayer.find("." + cssClass.timeDuration),
            volumeButton = thePlayer.find("." + cssClass.volumeButton),
            volumeAdjuster = thePlayer.find(
              "." + cssClass.volumeAdjust + " > div"
            ),
            volumeDefault = 0,
            adjustCurrentTime = function (e) {
              theRealEvent = isTouch ? e.originalEvent.touches[0] : e;
              theAudio.currentTime = Math.round(
                (theAudio.duration *
                  (theRealEvent.pageX - theBar.offset().left)) /
                  theBar.width()
              );
            },
            adjustVolume = function (e) {
              theRealEvent = isTouch ? e.originalEvent.touches[0] : e;
              theAudio.volume = Math.abs(
                (theRealEvent.pageX - volumeAdjuster.offset().left) /
                  volumeAdjuster.width()
              );
            },
            updateLoadBar = setInterval(function () {
              if (theAudio.buffered.length > 0) {
                barLoaded.width(
                  (theAudio.buffered.end(0) / theAudio.duration) * 100 + "%"
                );
                if (theAudio.buffered.end(0) >= theAudio.duration)
                  clearInterval(updateLoadBar);
              }
            }, 100);

          var volumeTestDefault = theAudio.volume,
            volumeTestValue = (theAudio.volume = 0.111);
          if (Math.round(theAudio.volume * 1000) / 1000 == volumeTestValue)
            theAudio.volume = volumeTestDefault;
          else thePlayer.addClass(cssClass.noVolume);

          timeDuration.html("&hellip;");
          timeCurrent.text(secondsToTime(0));

          theAudio.addEventListener("loadeddata", function () {
            timeDuration.text(secondsToTime(theAudio.duration));
            volumeAdjuster.find("div").width(theAudio.volume * 100 + "%");
            volumeDefault = theAudio.volume;
          });

          theAudio.addEventListener("timeupdate", function () {
            timeCurrent.text(secondsToTime(theAudio.currentTime));
            barPlayed.width(
              (theAudio.currentTime / theAudio.duration) * 100 + "%"
            );
          });

          theAudio.addEventListener("volumechange", function () {
            volumeAdjuster.find("div").width(theAudio.volume * 100 + "%");
            if (theAudio.volume > 0 && thePlayer.hasClass(cssClass.mute))
              thePlayer.removeClass(cssClass.mute);
            if (theAudio.volume <= 0 && !thePlayer.hasClass(cssClass.mute))
              thePlayer.addClass(cssClass.mute);
          });

          theAudio.addEventListener("ended", function () {
            thePlayer.removeClass(cssClass.playing);
          });

          theBar
            .on(eStart, function (e) {
              adjustCurrentTime(e);
              theBar.on(eMove, function (e) {
                adjustCurrentTime(e);
              });
            })
            .on(eCancel, function () {
              theBar.unbind(eMove);
            });

          volumeButton.on("click", function () {
            if (thePlayer.hasClass(cssClass.mute)) {
              thePlayer.removeClass(cssClass.mute);
              theAudio.volume = volumeDefault;
            } else {
              thePlayer.addClass(cssClass.mute);
              volumeDefault = theAudio.volume;
              theAudio.volume = 0;
            }
            return false;
          });

          volumeAdjuster
            .on(eStart, function (e) {
              adjustVolume(e);
              volumeAdjuster.on(eMove, function (e) {
                adjustVolume(e);
              });
            })
            .on(eCancel, function () {
              volumeAdjuster.unbind(eMove);
            });
        } else thePlayer.addClass(cssClass.mini);

        if (isAutoPlay) thePlayer.addClass(cssClass.playing);

        thePlayer.find("." + cssClass.playPause).on("click", function () {
          if (thePlayer.hasClass(cssClass.playing)) {
            $(this)
              .attr("title", params.strPlay)
              .find("a")
              .html(params.strPlay);
            thePlayer.removeClass(cssClass.playing);
            isSupport ? theAudio.pause() : theAudio.Stop();
          } else {
            $(this)
              .attr("title", params.strPause)
              .find("a")
              .html(params.strPause);
            thePlayer.addClass(cssClass.playing);
            isSupport ? theAudio.play() : theAudio.Play();
          }
          return false;
        });

        $this.replaceWith(thePlayer);
      });
      return this;
    };
  })(jQuery, window, document);
  $("#audio").audioPlayer({
    classPrefix: "audioplayer",
    strPlay: "",
    strPause: "",
    strVolume: ""
  });
}

function loadContent($page) {
  $("#audio").load($page + " > *", function (response, status) {
    success: initGenWidgets();
  });
}

loadContent($(this).attr("href"));

		</script>
{% endblock %}